main {
    width: 400px;
    margin: auto;
}
.jatekter {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
}

.jatekter div {
    aspect-ratio: 1;
    border: 1px solid gray;
    border-radius: 50%;
    background-color: green;
}
.felkapcs{
    background-color: yellow !important;
}